.text {
  margin: 80px;
  margin-left: 160px;
  margin-right: 160px;
  padding: 60px;
  background-color: black;
  outline: 10px;
  outline-color: white;
  outline-style: solid;
  font-family: "Determination";
  font-style: normal;
}