body {
    margin: 0;
    height: 100vh;
    background-image:
      repeating-linear-gradient(to bottom, rgba(247, 100, 229, 0.6) 0px, rgba(227, 100, 100, 0.2) 2px, transparent 4px, transparent 40px),
      repeating-linear-gradient(to right, rgba(247, 100, 229, 0.6) 0px, rgba(227, 100, 100, 0.2) 2px, transparent 4px, transparent 40px),
          
      repeating-linear-gradient(to bottom, rgba(247, 100, 229, 0.2) 0px, rgba(227, 100, 100, 0.2) 2px, transparent 4px, transparent 40px),
      repeating-linear-gradient(to right, rgba(247, 100, 229, 0.2) 0px, rgba(227, 100, 100, 0.2) 2px, transparent 4px, transparent 40px);
    background-size: 40px 40px;
        
    background-position:
          0 0, 0 0,
          0 0, 0 0;
    animation: move_grid 2s linear infinite;
  }
      
  @keyframes move_grid
  {
    from {
      background-position:
        0 0, 0 0,
        0 0, 0 0;
    }
    to {
      background-position:
        0 0, 0 0,
        40px 40px, 40px 40px;
    }
  }