<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ site.title }}{% if page.title %} : {{ page.title }}{% endif %}</title>
<link rel="stylesheet" href="/style.css">
<link rel="icon" href="/icon.png" type="image/png">
<link rel="preload" as="font" type="font/ttf" href="/fonts/NewYork.ttf" crossorigin>
<link rel="preload" as="font" type="font/ttf" href="/fonts/CONSOLA.TTF" crossorigin>
<link rel="preload" as="font" type="font/woff" href="/fonts/DeterminationMonoWeb.woff" crossorigin>
<script src="/script.js" defer></script>
