<div class="me">
  <br><br><br><br><br>
  <marquee loop=-1 direction="right" scrollamount=10>
    <a href="https://memoryleak.nekoweb.org/">
      <img src="/images/char_button.gif" alt="the memoryleak zone" style="width: auto; height: auto; outline: 0px position: relative; top: 6px;">
    </a><a href="https://nekoweb.org/">
      <img src="https://nekoweb.org/assets/buttons/button9.gif" alt="Nekoweb" style="width: auto; height: auto; outline: 0px; position: relative; top: 6px;">
    </a><a href="https://galactica.nekoweb.org/">
      <img src="https://galactica.nekoweb.org/data/button.gif" alt="galactica-online button" style="width: 88px; height: auto; outline: 0px; position: relative; top: 6px;">
    </a></marquee>
  <figcaption>BUTTONS!</figcaption>
  <figure>
    <img src="images/charkey.png">
    <figcaption>hai! it's me :3</figcaption>
  </figure>
</div>
